body {
    width: 100%;
    height: 100%;
    background: black;
}

h1 {
    text-align: center;
    color: white;
}

#tab-bar {
    width: 100%;
    height: 50px;
    background: darkgrey;
    display: flex;
    flex-direction: row;
    padding: 5px 15px 0px;
    justify-content: space-evenly;
    border-bottom: solid thin black;
    margin-bottom: 0;
}

#tab-bar > button {
    flex: 1 1 auto;
    max-width: 40%;
    height: 100%;
}

#default-view {
    height: 100%;
    width: 100%;
    background: lightgray;
    padding: 15px;
}

#doctor-view {
    height: 100%;
    width: 100%;
    background: lightgray;
    padding: 15px;
    display: none;
    flex-direction: column;
    align-items: center;
}

#patient-view {
    height: 100%;
    width: 100%;
    background: lightgray;
    padding: 15px;
    display: none;
    flex-direction: column;
    align-items: center;
}

#patient-view > form {
    display: flex;
    flex-direction: column;
}

h2 {
    text-align: center;
}

#refresh-response {
    color: red;
}

#bill-list {
    list-style-type: none;
    align-items: center;
    padding: 0;
}

.bill {
    background: white;
    border: solid thin black;
    border-radius: 15px;
    padding: 0 15px;
    margin-bottom: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.bill > img {
    width: 150px;
}
.bill > span {
    margin: 10px 0;
}

