#upload {
    margin-top: 30px;
    width: 380px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    background: darkgrey;
    border: solid lightgrey;
    border-radius: 15px;
    padding: 15px;

}

#bill-upload {
    margin-top: 30px;
    display: flex;
    flex: 1;
    flex-direction: column;

}

#submit-bill {
    height: 40px;
}

input {
    height: 20px;
    width: 90%;
    font-size: 20px;
    margin: 5px 5%;
}

.billImageBoxEmpty {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#remove-button {
    width: 150px;
    height: 30px;
    font-size: 18px;
    border-radius: 15px;
    background: red;
    margin: 0 auto 10px;
}

img {
    max-width: 300px;
    max-height: 400px;
    align-self: center;
    margin: 0 auto;
}


label {
    font-size: 20px;
    font-weight: bold;
    margin-left: 5%;
}

#cancel-update, #submit-bill {
    height: 40px;
    width: 100px;
    border-radius: 15px;
    font-size: 20px;
}
